<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Telemedicine</title>
    <link rel="stylesheet" href="homepage.css">
  </head>
  <body>
    <header>
      <h2>Green</h2>
    </header>
    <div class="top-wrapper">
      B
    </div>
    <div class="guide-wrapper">
      C
    </div>
    <div class="doctor-wrapper">
      D 
    </div>
    <div class="article-wrapper">
      E
    </div>
    <footer>
      
    </footer>
  </body>
</html>
