
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
    font-family: 'Comfortaa', cursive;
}


header{
    height:65px;
    padding-top:10px;
}

.container{
    width:100%;
    margin-top:10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-left li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
    font-size:24px;
    margin-left:20px;
}

.header-right{
    margin-left:0;
}

.header-right li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    float: right;
    text-decoration: none;
    font-size:24px;
}

.header-left a{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}

.header-right a{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-align:right;
    color: #0080FF;
}

.home{
    background-color: #0080FF;
    padding:10px 25px;
    border-radius:50px;
}

.header-left .home{
    color: white;
}

.login{
    border: 1px solid #0080FF;
    padding:10px 25px;
    border-radius:50px;
}

.header-right .login{
    color: #0080FF;
}

.top-wrapper{
height: 1000px;
}

.top-right{
    width:1220px;
    height: 900px;
    float:right;
}

.top-right img{
    padding-right:20px;
    padding-top: 50px;
}

.top-left{
    height: 1000px;
    width: auto;
    float:left;
}

.left-welcome h3{
    font-style: normal;
    width: 800px;
    font-weight: 600;
    font-size: 50px;
    padding-top: 200px;
    padding-left: 150px;
    line-height: 60px;
    
}

.left-welcome h4{
    width: 800px;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    padding-left: 155px;
    
}
.left-welcome span{
    color: #0080FF;
}

.left-diagnoses h3{
    font-style: normal;
    width: 800px;
    font-weight: 600;
    font-size: 46px;
    padding-top: 120px;
    padding-left: 150px;
    line-height: 60px;
    margin-bottom: 30px;
}

.left-diagnoses span{
    color: #0080FF;
}

.button-test{
    background-color: #0080FF;
    padding:20px 25px;
    padding-right:70px;
    border-radius:50px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: white;
    margin-left:155px;
}

.guide-wrapper{
    width:100%;
    padding-top:40px;
    box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    margin-left: 0px;
}

.guide-wrapper h3{
    position: relative;
    font-weight: 600;
    font-size: 28px;
    line-height: 27px;
}

.guide-wrapper span{
    color: #0080FF;
}
.guide-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px;
    padding-left:60px;
    padding-right:60px;
}

.guide-content{
    margin-top:30px;
    margin-bottom: 30px;
    text-align: center;
    
}

.guide-content h4{
    width:400px;
    font-weight:600;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    font-style: normal;
}

.blue-box{
    width:200px;
    height:200px;
    background-color: #0080FF;
    border-radius:50px;
    margin-left: auto;
    margin-right: auto;
}

.doctor-wrapper{
    height:800px;
    padding-top:80px;
    width:auto;
}

.doctor-wrapper h2{
    padding-left: 155px;
    font-weight: 600;
    font-size: 28px;
}

.doctor-wrapper span{
    color: #0080FF;
}

.doctor-card{
    padding:80px 20px 50px 20px;
    margin-left: 200px;
    margin-right: 200px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.dcard{
    width: 325px;
    height: 425px;
    background: #949191;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
    margin-left:10px;
}

.dcard-bottom{
    width: 325px;
    height: 150px;
    margin-top:275px;
    border-radius: 0px 0px 25px 25px;
    background-color: #ffffff;
    padding:10px;
}

.dcard-bottom h3{
    font-weight: 1000;
    font-style: bold;
    font-size: 24px;
    margin-top:0px;
}

.dcard-bottom h4{
    width: auto;
    font-weight: 500;
    font-size: 18px;
}

.dcard-container{
    position: absolute;
    padding:10px;
    width: 50%;
    margin-right:0px;
}

.button-chat{
    float: right;
    font-size:20px;
    font-weight:600;
    background-color: #0080FF;
    padding:10px 25px;
    border-radius:50px;
    color: #ffffff;
    margin-top:30px;
}

.button-telemedicine{
    background-color: #0080FF;
    padding:20px 25px;
    padding-right:70px;
    margin-right:280px;
    margin-top:20px;
    border-radius:50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: white;
    float:right;
}

.article-wrapper h2{
    padding-left: 155px;
    font-weight: 600;
    font-size: 28px;
}

.article-wrapper span{
    color: #0080FF;
}